<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>WELCOME TO THE ONLINE CASINO(made by first year computer programming students)</h3>
    <p><a href="/blackjack">blackjack</a></p>
    <p><a href="/dice">dice</a></p>
    <p><a href="/poker">poker</a></p>
    <p><a href="/roulette">roulette</a></p>
    <p><a href="/scratchers">scratchers</a></p>

</body>

</html>