<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>
    <h3>WELCOME TO THE ONLINE CASINO(made by first year computer programming students)</h3>
    <a href="/blackjack"><button>blackjack</button></a>
    <a href="/dice"><button>dice</button></a>
    <a href="/poker"><button>poker</button></a>
    <a href="/roulette"><button>roulette</button></a>
    <a href="/scratchers"><button>scratchers</button></a>

</body>

</html>